<header class="header full-box"></header>
	    <div class="header-options full-box">
	        <nav class="header-navbar full-box poppins-regular font-weight-bold">
	            <ul class="list-unstyled full-box">
	                <li>
	                    <a href="{% url 'inicio' %}">Inicio<span class="full-box"></span></a>
	                    <a href="{% url 'platos' %}">Platos<span class="full-box"></span></a>
                        <a href="{% url 'clientes' %}">Clientes<span class="full-box"></span></a>
                        <a href="{% url 'empleados' %}">Empleados<span class="full-box"></span></a>
                        <a href="#singup">Iniciar Sesion<span class="full-box"></span></a>
	                </li>
	            </ul>
	        </nav>
	    </div>
</header>